:root {
    --max-width: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #202635;
    padding: 24px;
    color: #ffffff;
    height: 100%;

    display: flex;
    flex-direction: column;
}

article {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: var(--max-width);
    margin-bottom: 16px;
}

h1 {
    font-size: 22px;
    margin-bottom: 4px;
}

h2 {
    font-weight: 800;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: -0.5px;

    margin-bottom: 8px;
}

.hello {
    margin-bottom: 24px;
}

.hello > p {
    font-size: 14px;
    line-height: 14px;
    color: #D9D9D9;
}

.date {
    font-size: 14px;
}

ul {
    list-style: none;
}

ul.group-tasks {
    display: flex;
    overflow-x: auto;
    margin-bottom: 32px;
}

ul.group-tasks > li {
    width: 212px;
    min-width: 212px;
    height: 145px;
    margin-right: 16px;

    background: linear-gradient(180deg, rgba(41, 47, 63, 0) 0%, rgba(41, 47, 63, 0.8) 100%);
    border: 0.2px solid rgba(217, 217, 217, 0.15);
    box-sizing: border-box;
    filter: drop-shadow(14px 18px 34px rgba(0, 0, 0, 0.32));
    border-radius: 15px;
}

ul.group-tasks > li > .card {
    background-image: url("/images/Rectangle\ 662.png");
    height: 91px;
    margin: 8px;
    padding: 12px;
}

ul.group-tasks > li > .card > p {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

ul.group-tasks > li > .card > h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    margin-top: 12px;
}

ul.group-tasks > li > .participants {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

ul.group-tasks > li > .participants > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: #202635;
    margin-left: -5px;

    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
}

.filter {
    display: flex;

    background: linear-gradient(180deg, #FFFFFF 0%, #F8F7FF 100%);
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 24px;
}

.filter > div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    color: #000000;
}

.filter > div.active {
    background: linear-gradient(135.96deg, #2F394B 0%, #212A3A 101.74%);
    border-radius: 10px;
    color: #ffffff;
}

ul.tasks > li {
    background: linear-gradient(180deg, rgba(41, 47, 63, 0) 0%, rgba(41, 47, 63, 0.8) 100%);
    border: 0.2px solid rgba(217, 217, 217, 0.15);
    filter: drop-shadow(14px 18px 34px rgba(0, 0, 0, 0.32));
    border-radius: 15px;

    padding: 16px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.tasks > li > div {
    display: flex;
    align-items: center;
}

ul.tasks > li > div > img {
    padding: 12px;
    background: #384156;
    border-radius: 10px;
    margin-right: 16px;
}

ul.tasks > li > div label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}

ul.tasks > li > div p {
    font-size: 12px;
    line-height: 15px;
    color: #D9D9D9;
}

footer {
    position: relative;

    margin: 0 -16px -16px -16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 32px 56px;

    display: flex;
    justify-content: space-between;
    background: #292F3F;
}

footer img {
    width: 24px;
}

#btn-add {
    position: absolute;
    top: -24px;
    left: calc(50% - 32px);
    
    width: 64px;
    height: 64px;
    border-radius: 50%;
}