:root {
    --max-width: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #c7c7c7;
    padding: 16px 16px 32px 16px;
    margin-bottom: 8px;

    max-width: var(--max-width);
}

h1 {
    font-size: 22px;
    margin-bottom: 4px;
}

.date {
    font-size: 14px;
}

ul {
    list-style: none;
}

li {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;

    margin-bottom: 8px;
    max-width: var(--max-width);
}

footer {
    max-width: var(--max-width);
    text-align: right;

    background: #696969;
    padding: 8px;
}

footer span {
    font-size: 14px;
    font-weight: bold;
}

footer span:first-of-type {
    color: #03fc52;
}

footer span:last-of-type {
    color: #ed4328;
}